.sc-card-container{
    display: flex;
    flex-direction: column;
    max-width: 400px
}

.card-title.card-header{
    background-color: salmon;
   
}


.card-body{
    max-width: 300px;
}

.action-icons, .card-title, .card-text{
    color: black;
}

 .card :hover {
    text-decoration: none !important; 
   
  }

  .action-icons{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .share-icon, .edit-icon, .delete-icon{
    
        height: 20px;
        width: 20px;
        color: #6B717E
    
  }

  .btn-icon{
      color: white;
      border-style: none;
      background-color: white;
      border-radius: 5px;
      height: 40px;
      width: 40px;
     
  }

  .btn-icon:hover{
      background-color: #A2E3C4
  }