/* 
#6B717E grey
#FF7E6B Salmon
#F0F7F4 White
#A2E3C4 Mint
#2A0C4E Purple */



*{
    box-sizing: border-box;
}

.user-container{
    display: flex;
    padding: 40px;
}


.left-side{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.right-side{
    display: flex;
    flex-direction: column;
   
   
}

h3{
    display: flex;
    justify-content: center;
}

.supplement-card{
    display: flex;
    justify-content: center;
    padding: 0 0 0 20px ;

}


