.add-supplement-container{
    padding: 10px;
    
}

.add-supplement-title{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.add-supplement{
    display: flex;
    justify-content: center;
}

.add-supplement-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 500px;
    background-color: #2A0C4E;
    border-radius: 20px;
    color: white
  }
  
  #add-sup-input {
    width: 300px;
    height: 35px;
    
    
  }

  #add-sup-textarea {
    width: 300px;
    height: 70px;
    
  }

  /* label{
      line-height: 0em;
      padding-top: 20px;
      color: white
  } */

  .add-title-text{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    
  }

  .add-btn-container{
    display: flex;
    justify-content: flex-end;
  }

  .add-sup{
    border-radius: 5px;
    padding: 5px;
  }
  