.indv-card-container{
    display: flex;
    justify-content: center;
}


.indv-card{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 600px;
    background-color: salmon !important;
}

.indv-card-title{
    font-size: 40px !important;
}

.indv-card-date{
    color: #6B717E;
}

.indv-card-text{
    font-size: 20px ;
}




  .action-icons{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .share-icon, .edit-icon, .delete-icon{
    
        height: 20px;
        width: 20px;
        color: #6B717E
    
  }

  .btn-icon{
      border-style: none;
      background-color: salmon;
      border-radius: 5px;
      height: 40px;
      width: 40px;
     
  }

  .btn-icon:hover{
      background-color: #A2E3C4
  }