.indv-title-one,
.indv-title-two {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.indv-card-container {
    display: flex;
    justify-content: center;
}


.indv-supplement-card {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #FF7E6B;
    width: 60%;
    padding: 20px;
    color: white;
}

#indv-title {
    font-weight: bold;
    display: flex;
    /* padding: 0 0 5px 0 */
}

#indv-entry {
    display: flex;
    /* padding: 0 0 30px 0; */

}

.indv-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}


.indv-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}



.like-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px 0 0;

}


.like {
    display: flex;
    justify-content: flex-end;
}

#indv-btn {
    height: 25px;
    width: auto
}

.indv-btn {
    background-color: #FF7E6B;
    color: white;
    /* padding: 0 5px 0 0; */


}

.fav {
    display: flex;
    flex-direction: row;
    padding: 0 15px 0 0;
}

.not-fav {
    display: flex;
    flex-direction: row;
    padding: 0 5px 0 0;
}